<a href="https://colab.research.google.com/github/Sanjayme049/Python/blob/main/list_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_list = []
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for n in nums:
  my_list.append(n)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
my_list = [n for n in nums]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
My_list = []
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for n in nums:
  My_list.append(n*n)
print(My_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
# Using list comprehension
My_list = [n*n for n in nums]
print(My_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]