<a href="https://colab.research.google.com/github/Sanjayme049/Python/blob/main/list_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_list = []
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for n in nums:
  my_list.append(n)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
my_list = [n for n in nums]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
My_list = []
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for n in nums:
  My_list.append(n*n)
print(My_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Using list comprehension
My_list = [n*n for n in nums]
print(My_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
my_list = []
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for n in nums:
  if n%2 == 0:
    my_list.append(n)
print(my_list)

[2, 4, 6, 8, 10]

In [6]:
#Using list comprehension
my_list = [n for n in nums if n%2 == 0]
print(my_list)

[2, 4, 6, 8, 10]

In [8]:
# I want a (letter, num) pair for each letter in 'abcd' and each number in '0123'
my_list = []
for letter in 'abcd':
  for num in range(4):
    my_list.append((letter, num))
print(my_list)

[('a', 0), ('a', 1), ('a', 2), ('a', 3), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('d', 0), ('d', 1), ('d', 2), ('d', 3)]

In [9]:
my_list = [(letter, num) for letter in 'abcd' for num in range(4)]
print(my_list)

[('a', 0), ('a', 1), ('a', 2), ('a', 3), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('d', 0), ('d', 1), ('d', 2), ('d', 3)]