<a href="https://colab.research.google.com/github/Sanjayme049/Python/blob/main/reversed_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data = [104, 101, 1, 105,308, 103, 5,
        107, 300, 6]
for index, value in enumerate(reversed(data)):
  print(index, value)

0 6
1 300
2 107
3 5
4 103
5 308
6 105
7 1
8 101
9 104

In [ ]:
min_value = 100
max_value = 200

data = [104, 101, 1, 105,308, 103, 5,
        107, 300, 6]
# print(len(data))
top_index = len(data)-1

for index, value in enumerate(reversed(data)):
  if value < min_value or value > max_value:
    del data[top_index - index]

    print(top_index - index, value)

9 6
8 300
6 5
4 308
2 1

In [ ]:
#Nested listed
empty_list = []
even = [2, 4, 6, 8]
odd = [1, 3, 5, 7, 9]

numbers = [even, odd]
# print(numbers)

for number_list in numbers:
  print(number_list)

  for value in number_list:
    print(value)

[2, 4, 6, 8]
2
4
6
8
[1, 3, 5, 7, 9]
1
3
5
7
9

In [2]:
name = "Tim"
age  = 10
print(name, age, "python", 2022)
print(name, age, "python", 2022, sep= ', ')

Tim 10 python 2022
Tim, 10, python, 2022