<a href="https://colab.research.google.com/github/Sanjayme049/Python/blob/main/unpacking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
data_list = [12, 13, 14]
data_list.append(15)
print(data_list)
p, q, r, z = data_list
print(p)
print(q)
print(r)
print(z)

[12, 13, 14, 15]
12
13
14
15

In [3]:
welcome = "Welcome to my Nightmare", "Alice Cooper", 1975
bad = "Bad Company", "Bad Company", 1974
budgie = "Nightflight", "Budgie", 1981
imlda = "More mayhem", "Emilda May", 2011
metallica = "Ride the Lightning", "Metallica", 1984

title, artist, year = metallica
print(title)
print(artist)
print(year)

table = ("Coffe table", 200, 100, 75, 34.50)
print(table[1] * table[2])
name, length, width, heigth, price = table
print(length * width)

Ride the Lightning
Metallica
1984
20000
20000